#admin_border {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  padding-top: 25px;
  border-bottom: 2px solid #424242;
  padding-bottom: 15px;
}
p{
  margin: 8px 0;
}
#content {
  width: 870px;
  height: 1500px;
  float: right;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
table {
  display: inline-block;
  border: 1px solid lightgray;
  border-collapse: collapse;
  margin: 8px 0;
}
tr, th, td {
  border: 1px solid lightgray;
  padding: 8px;
}
th {
  background-color: #FAFAFA;
}