/* 게시판 목록보기(board_list.php) */
#board_list li { padding: 10px 0; border-bottom: solid 1px #dddddd; }
#board_list span { display: inline-block; text-align: center;}
#board_list .col1 { width: 30px; }
#board_list .col2 { width: 90px; }
#board_list .col3 { width: 370px; }
#board_list .col4 { width: 130px; }
#board_list .col5 { width: 35px; }
#board_list .col6 { width: 35px; }
#board_list .col7 { width: 450px; }
#board_list .col8 { width: 130px; }
#page_num {	text-align: center;	margin: 30px 0 }
#page_num li { display: inline; }

#board_content .col1 {
   font-size: 11px;
}
